<header id="user_header">
  <h4 id="add_snippet"><a href="/create">Add Snippet</a></h4>
  <h1>Quick Snippets</h1>
  <div class="logout_button">
    <h4 id="welcome">Welcome, {{username}}</h4>
    <p><a href="/logout">Log Out</a></p>
  </div>
</header>
<div class="user_container">

</div>
