* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: white;
  height: 75px;
  padding: 15px 5px 0px 5px;
  position: fixed;
  width: 100%;
}

header h1 {
  color: #C58512;
  text-align: center;
}

.form_container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login_container h2 {
  color: gray;
  margin-bottom: 25px;
}

.signup_container h2 {
  color: gray;
  margin-bottom: 25px;
  margin-left: 60px;
}

.login_container input, .signup_container input {
  height: 17px;
  margin-bottom: 10px;
  padding: 3px;
}

.login_container button, .signup_container button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

.login_form {
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.signup_form {
  border-left: 2px solid gray;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

#user_header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

#user_header a {
  text-decoration: none;
  color: #C58512;
}

#add_snippet a {
  border-bottom: 2px solid #C58512;
  color: gray;
  margin-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  text-decoration: none;
}

#welcome {
  border-bottom: 2px solid #C58512;
  color: gray;
  padding-bottom: 5px;
}

.logout_button {
  margin-right: 25px;
}

.logout_button p {
  margin-top: 5px;
  text-align: center;
}

.logout_button a {
  color: gray;
  text-decoration: none;
}

.user_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 115px;
}

.snippet_container {
  border: 2px solid gray;
  border-radius: 12px;
  display: flex;
  height: 300px;
  flex-basis: 30%;
  margin: 0px 0px 25px 0px;
}

.snippet_container a {
  text-decoration: none;
}

.language {
  border: 2px solid darkgray;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: darkgray;
  padding: 4px;
  margin-right: 5px;
  vertical-align: middle;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
}

.language a {
  text-shadow: 2px 2px 2px black;
  color: #C58512;
  font-size: 24px;
  letter-spacing: 0.3em;
  padding-top: 10px;
}

.partial_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.partial_container a {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

.title, .username, .tags a {
  color: #C58512;
}

.title {
  text-transform: uppercase;
}

.code, .notes {
  color: gray;
}

.code {
  border-top: 2px solid #C58512;
  border-bottom: 2px solid #C58512;
  padding: 10px 0px;
}

.tags {
  margin-top: 10px;
}

code {
  color: gray;
}

.delete_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.delete_row p:last-child a {
  color: darkcyan;
  text-decoration: none;
}
/********************************************
      create snippet page styling
**********************************************/


.mask {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 25px;
}

.back_button {
  display: flex;
  justify-content: flex-end;
}

.back_button a {
  background-color: white;
  border: 5px solid white;
  border-radius: 100px;
  color: #C58512;
  font-size: 24px;
  margin: 20px;
  padding: 5px;
  text-decoration: none;
}


.create_snippet {
  background-color: white;
  border: 3px solid #C58512;
  border-radius: 15px;
  margin: -15px auto 0px auto;
  padding: 10px 10px 10px 15px;
  width: 40%;
}

.create_snippet h2 {
  color: #C58512;
  margin-bottom: 15px;
  text-align: center;
}


.snippet_form input {
  border-radius: 5px;
  font-size: 18px;
  height: 25px;
  margin-bottom: 15px;
  padding: 3px;
  width: 46%;
}

.snippet_form #snippet_title {
  height: 25px;
  width: 95%;
}

textarea {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 3px;
}
